html, body {
    margin: 0;
    padding: 0;
    /* This makes width//height include padding and borders, this makes sizing math easier */
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(173, 221, 221);
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}